#works {
    padding: 60px 0;
    background-color: #f8f9fa;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.image-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.image-item:hover img {
    transform: scale(1.1); /* Zoom en hover */
}

.image-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-item:hover::before {
    opacity: 1;
}

.image-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}
